texput.log
IChO_Aufgabentemplate_old/main.*
!IChO_Aufgabentemplate_old/main.tex
IChO_Aufgabentemplate_old/Bedienungsanleitung.*
!IChO_Aufgabentemplate_old/Bedienungsanleitung.tex
IChO_Aufgabentemplate_old/Aufgabentemplate.*
!IChO_Aufgabentemplate_old/Aufgabentemplate.tex
CDS_Old/blanko_ab.*
!CDS_Old/blanko_ab.tex
CDS_Old/Format_Material/CDS_Logo_Map_verbessert-eps-converted-to.pdf
*.aux
*.synctex.gz
*.fdb_latexmk
*.fls
*.log
*.out